{%- extends "base.html" %}


{% block head %}
{{super()}}
<style>
  a.custom-card,
  a.custom-card:hover {
  color: inherit;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h2>CLUBS</h2>
  <div class = "container">
    <div class="row">
      {%for club in clubs %}
      <div class="col-md-4">
        <div class="card border-dark mb-3">
          <h3>{{club[0]}}</h3>
          <p><strong>Meeting Hours:</strong> {{club[1]}}</p>
          <p><strong>Club Room:</strong> {{club[2]}}</p>
          <p>{{club[3]}}</p>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <a class="btn btn-primary" href='/clubinfo?club={{club[0]}}'>Club Page</a>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
    <div class = "container">
       <div class = "row" style = "padding-top: 5px;"><div class = "col-md-12"></div> </div>
      <div class="row">
        <div class = "col-md-3"></div>
        <div class="col-md-6" style = "padding-top: 10px; padding-bottom: 10px; ">
          <h2 style = "text-align: center;"> Events </h2>
        <ul class = "list-group" style = "border: dark-md3;">
        {%for event in events %}
        <li class="list-group-item" style = "border: dark-md3;">
            <a href = 'eventinfo?event={{event[0]}}''>{{event[1]}}</a>
          </li>
        {%endfor%}
        </ul>
      </div>
      <div class = "col-md-3"></div>
     </div>
{%- endblock %}
