{%- extends "base.html" %}

{% block content %}

<style>
  .h1{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
</style>

<body>
  <div class = "container">
  <div class = "row" style = "text-align: center; padding-left: 30px; padding-top: 30px; padding-bottom: 30px;">
      <h1 style = "color: #272140"> {{clubname}} </h1>
  </div>
  </div>
  <div class = "container">
  <div class = "row" >
    <div class = "col-md-1">
    </div>
  <div class = "col-md-4" style = "align-items: center;">
     <div class = "card border-dark mb-3" style = "padding-top: 20px; padding-bottom: 20px; text-align: center; background-color: #F9F1D3;  ">
       <h5 class="card-title"> Club Information</h5>
       <div class="card-text">
         <p><b>{{division}}</b></p>
         <p><b>{{Objective}}</b></p>
         <p><b>{{hours}}</b></p>
       </div>
      </div>
    </div>
    <div class = "col-md-2">
    </div>
    <div class = "col-md-4">
       <div class = "card border-dark mb-3" style = "padding-top: 20px; padding-bottom: 20px; text-align: center; background-color: #D3F9DE;">
         <h5 class="card-title"> Manager Information</h5>
         <div class="card-text">
            <p><b>Manager: {{admin[2]}}</b></p>
            <p><b>Contact: {{admin[1]}}</b></p>
            <p><b>{{hours}}</b></p>
          </div>
        </div>
      </div>
      <div class = "col-md-1">
      </div>
    </div>
       <div class = "container">
          <div class = "row" style = "padding-top: 5px;"><div class = "col-md-12"><hr> </div> </div>
         <div class="row">
           <div class = "col-md-3"></div>
           <div class="col-md-6" style = "padding-top: 10px; padding-bottom: 10px; ">
             <h2 style = "text-align: center;"> Events </h2>
           <ul class = "list-group" style = "border: dark-md3;">
           {%for event in events %}
           <li class="list-group-item" style = "border: dark-md3;">
               <a href = 'eventinfo?event={{event[0]}}''>{{event[1]}}</a>
             </li>
           {%endfor%}
           </ul>
         </div>
         <div class = "col-md-3"></div>
        </div>
        {%if memberlist%}
          <div class = "row" style = "padding-top: 5px;"><div class = "col-md-12"><hr> </div> </div>
          <div class="row">
            <div class="col-md-3"></div>
             <div class="col-md-6" style = "padding-top: 10px; padding-bottom: 10px;">
              <h2 style = "text-align: center;"> Members </h2>
          <ul class = "list-group" style = "border: dark-md3;">
            {%for member in memberlist %}
          <li class="list-group-item" style = "border: dark-md3;">
              <h5>{{member[0]}}</h5>
            </li>
          {%endfor%}
        </ul>
      </div>
      </div>
      </div>
      </div>
      {%endif%}
</body>
{% endblock %}
