{%- extends "base.html" %}

{% block content %}
<style>
  .h1{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
</style>
<body>
  <div class = "container">
  <div class = "row" style = "text-align: center; padding-left: 30px">
      <h1> {{clubname}} </h1>
  </div>
  </div>
  <div class = "container">
  <div class = "row">
    <div class = "col-md-1">
    </div>
  <div class = "col-md-4" style = "text-align: center;">
     <div class = "card" style = "text-align: center; width: 18rem;">
       <h5 class="card-title"> Club Information</h5>
       <div class="card-text">
         <p><b>{{division}}</b></p>
         <p><b>{{Objective}}</b></p>
         <p><b>{{hours}}</b></p>
       </div>
      </div>
    </div>
    <div class = "col-md-2">
    </div>
    <div class = "col-md-4">
       <div class = "card" style = "text-align: center; width: 18rem;">
         <h5 class="card-title"> Manager Information</h5>
         <div class="card-text">
            <p><b>Manager: {{admin[2]}}</b></p>
            <p><b>Contact: {{admin[1]}}</b></p>
            <p><b>{{hours}}</b></p>
          </div>
        </div>
      </div>
      <div class = "col-md-1">
      </div>
    </div>
       <div class = "container">
          <div class = "container" height = 100px> <hr> </div>
         <div class="row">
           <div class="col-md-12">
             <h2> Events </h2>
           <ul class = "list-group" style = "border: dark-md3 width: 75%">
           {%for event in events %}
           <li class="list-group-item">
               <a href = 'eventinfo?event={{event[0]}}''>{{event[0]}}</a>
             </li>
           {%endfor%}
           </ul>
         </div>
        </div>
        {%if memberlist%}
          <div class = "container" height = 100px> <hr> </div>
          <div class="row">
            <div class="col-md-12">
              <h2> Members </h2>
          <ul class = "list-group">
          {%for member in memberlist %}
          <li class="list-group-item">
              <h5>{{member[0]}}</h5>
            </li>
          {%endfor%}
        </ul>
      </div>
      </div>
      </div>
      </div>
      {%endif%}

</body>
{% endblock %}
