{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
  <div class "container">
    <h2> DIVISIONS </h2>
      <div class = "container">
        {% for div in divs %}
          <div class="card border-primary mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{div[0]}}</h5>
              <!-- <a class= "button" href='/clubretrieval?div={{div[0]}}' style="font-size:x-large;">{{div[0]}}</a><br> -->
            </div>
          </div>
        {%endfor%}
      </div>
    </div>
  </body>
{%- endblock %}
