{%- extends "base.html" %}

{% block content %}

<style>
  .h1{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
</style>

<body>
  <div class = "container">
     <div class = "row" style = "padding-top: 5px;"><div class = "col-md-12"></div> </div>
    <div class="row">
      <div class = "col-md-3"></div>
      <div class="col-md-6" style = "padding-top: 10px; padding-bottom: 10px; ">
        <h2 style = "text-align: center;"> Events </h2>
      <ul class = "list-group" style = "border: dark-md3;">
      {%for event in events %}
      <li class="list-group-item" style = "border: dark-md3;">
          <a href = 'eventinfo?event={{event[0]}}''>{{event[1]}}</a>
        </li>
      {%endfor%}
      </ul>
    </div>
    <div class = "col-md-3"></div>
   </div>
</body>
{% endblock %}
