{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
  <div>
    <h2>Event Registration</h2>
    <div class="container">
    <form class="needs-validation" novalidate>
    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Club Name</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="Club Name" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-2 mb-3"></div>
      <div class='col-md-6'>
        <label for="validationCustom01">Club Name</label>
          <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#datetimepicker1').datetimepicker();
          });
      </script>
    </div>


    <div class = "row">
      <div class="container">
        <div class='col-md-5'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-md-5'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker7'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#datetimepicker6').datetimepicker();
              $('#datetimepicker7').datetimepicker({
                  useCurrent: false //Important! See issue #1075
              });
              $("#datetimepicker6").on("dp.change", function (e) {
                  $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
              });
              $("#datetimepicker7").on("dp.change", function (e) {
                  $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>
    </div>


    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">Club Hours</label>
        <input type="text" class="form-control" id="validationCustom02" placeholder="Club hours" value="Monday 19:00~21:00" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-2 mb-3"></div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom03">Club Room</label>
        <input type="text" class="form-control" id="validationCustom03" placeholder="Club Room" value="E11 201" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
    </div>

  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
  })();
  </script>
    </div>
  </div>
  {%- endblock %}
