{%- extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Event Registration</h2>
  <div class="container">
    <form class="needs-validation" novalidate method = "post">
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="validationCustom01">Club Name</label>
          <input type="text" name = "clubname" class="form-control" id="validationCustom01" placeholder="Club Name" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-2 mb-3"></div>
        <div class='col-md-6'>
          <label for="example-date-input" class="col-2 col-form-label">Date</label>
          <input type="date" name = "date" class="form-control"  value="2019-05-30" id="example-date-input">
          <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
</div>

  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
  })();
  </script>
</div>
{%- endblock %}

{%- block messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%- endblock %}
